body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 2;
}

#counter h1 {
  color: gray;
  font-size: 72px;
}

#counter button {
  padding: 2em 4em;
  background-color: red;
  color: white;
  border: none;
  font-size: 1em;
  transition: all 0.005s ease;
  outline: none;
}

#counter button:hover {
  background-color: yellow;
}
